body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilo para todos os botões */
.login-button,
.proposta-button,
.admin-button,
.logout-button {
    background-color: #000; /* Cor de fundo azul */
    color: #fff; /* Texto branco */
    border: none; /* Sem borda padrão */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    padding: 15px 25px; /* Espaçamento interno */
    font-size: 18px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    text-decoration: none; /* Sem sublinhado */
    font-family: 'Montserrat', sans-serif; /* Fonte */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Estilo de hover para todos os botões */
.login-button:hover,
.proposta-button:hover,
.admin-button:hover,
.logout-button:hover {
    background-color: #322e2e; /* Cor de fundo mais escuro ao passar o mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra mais pronunciada ao passar o mouse */
}

/* Adicionando um efeito de elevação ao clicar */
.login-button:active,
.proposta-button:active,
.admin-button:active,
.logout-button:active {
    transform: translateY(2px); /* Movimenta o botão para cima quando clicado */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Aumenta a sombra para dar a sensação de elevação */
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os botões */
    flex-wrap: wrap; /* Permite que os botões quebram a linha se necessário */
    padding: 20px; /* Espaçamento interno do container */
    margin-top: 20px; /* Espaçamento acima do container */
}



.contact-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea,
.contact-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #007bff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

footer p {
    margin: 0;
}

#container-servicos {
    display: flex;
    justify-content: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery img {
    width: 350px; 
    height: 350px; 
    margin-bottom: 20px;
    border-radius: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
