
        
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.login-button,
.proposta-button,
.admin-button,
.logout-button {
    background-color: #333;
    color: #fff;
    border: 1px solid #000; 
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)); 
}

.login-button:hover,
.proposta-button:hover,
.admin-button:hover,
.logout-button:hover {
    background-color: #555; /* Altera a cor de fundo ao passar o mouse */
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.contact-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea,
.contact-form input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Roboto', sans-serif;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #007bff;
}


h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}


footer p {
    margin: 0;
}

#container-servicos {
    display: flex;
    justify-content: center;
}


.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery img {
    width: 350px; 
    height: 350px; 
    margin-bottom: 20px;
    border-radius: 0; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


